#myPic {
    height: 300px;
    width: 300px;
    border-radius: 200px;
    padding: 0;
}

.rounded-circle  {
    height: 159px;
    width: 300px
 }
 
 #rightRound {
    border-bottom-right-radius: 20px;
 }
 
 #leftRounded {
    border-bottom-left-radius: 20px;
 }

 @media only screen and (max-width: 600px) {
    #myPic {
        height: 150px;
        width: 150px;
        border-radius: 150px;
        padding: 0;
 }
    .rounded-circle {
        height: 70px;
        width: 150px;
    }
    
}

#linksPadding {
    padding: 50px;
}





