#myPic {
    height: 300px;
    width: 300px;
    border-radius: 200px;
    padding: 0;
}

#tellMeMore {
    color: black;
}

/* .masthead {
    padding-bottom: 300px;
} */

#overlay {
    text-shadow: black 0px 0px 10px;
}

.rounded-circle  {
    height: 159px;
    width: 300px;
 }

 #rightRoundTip{
    border-bottom-right-radius: 20px;
 }

 #rightRound {
    border-bottom-right-radius: 20px;
 }

 #leftRounded {
    border-bottom-left-radius: 20px;
 } 

 @media only screen and (max-width: 600px) {
    #myPic {
    height: 150px;
    width: 150px;
    border-radius: 200px;
    padding: 0;
    }
    
    .rounded-circle {
    height: 70px;
    width: 150px;
    }
 }

#linksPadding {
    padding: 10px;
}
@media only screen and (min-width: 576px) {
 .rounded-circle {
    height: 0px;
    width: 0px;
}
}
.rounded-circle {
    height: 70px;
    width: 150px;
}

@media only screen and (min-width: 768px) {
    
    .rounded-circle {
    height: 90px;
     width: 150px;
    }
}

@media only screen and (min-width: 786px) {
    
    .rounded-circle {
    height: 90px;
    width: 150px;
    }
    
}
@media only screen and (min-width: 992px){
    .rounded-circle {
    height: 160px;
    width: 160px;
    }
}














